In [6]:
from ds_data_flow.oodle_postgres_hook import OodlePostgresHook

In [7]:
data_shed_hook = OodlePostgresHook( "REDSHIFT_DATAWAREHOUSE_SECRET", aws_profile_name="risk")
rh_conn = OodlePostgresHook("RISKHUB_SECRET", aws_profile_name="risk")

In [8]:
query = """
SELECT id, name AS orca_pipeline_name
        FROM orchestrationpipeline_realtime.pipeline_name
"""

In [9]:
df = rh_conn.get_pandas_df(query)
df

/Users/ezra.citron/Documents/my-projects/ds-data-flow/.venv/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

    id              orca_pipeline_name
0  133  underwrite-quotation-converted
1   36            underwrite-quotation
2    1                      underwrite
3   67                  underwrite-pos
4  100                        fincrime